@model periodontist.Models.UserViewModel
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="usersList">
    <h2>{{title}}</h2>
    <table class="usersList table">
        <thead>
            <tr>
                <th scope="col">Имя пользователя</th>
                <th scope="col">Email</td>
                <th scope="col">Роли</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="user in usersData" scope="row">
                <td>{{user.UserName}}</td>
                <td>{{user.Email}}</td>
                <td>
                    <span>{{user.Role.Name}}</span>
                    <a href="#" v-on:click="addUserRole(user.Id)">Назначить роль</a>
                </td>
                <td>
                    <a href="#" v-on:click="deleteUser(user.Id)">Удалить пользователя</a>
                </td>
            </tr>
        </tbody>
    </table>


    <div id="addUserRoleModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Добавление пользователю роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="d-none addUserRole_userId">{{userId}}</div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="selectRole">Options</label>
                        </div>
                        <select class="custom-select" id="selectRole">
                            <option selected>Выбрать роль</option>
                            <option v-for="role in rolesData" v-bind:value="role.Id">{{role.Name}}</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveUserRole(userId)">Добавить роль</button>
                </div>

            </div>
        </div>
    </div>

    <div id="userManipulationInfo" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">{{modalTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <span>{{modalMessage}}</span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveUserRole(userId)">Добавить роль</button>
                </div>

            </div>
        </div>
    </div>



</div>

@section scripts{
    @Scripts.Render("~/bundles/userslist");
}
