@model periodontist.Models.UsersListViewModel
@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="usersList">
    <h2>{{title}}</h2>
    <table class="usersList">
        <thead>
            <tr>
                <td>Имя пользователя</td>
                <td>Email</td>
                <td>Роли</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="user in usersData">
                <td>{{user.UserName}}</td>
                <td>{{user.Email}}</td>
                <td>Роли</td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts{
    @Scripts.Render("~/bundles/userslist");
}
