@model periodontist.Models.UsersListViewModel
@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="usersList">
    <h2>{{title}}</h2>
    <table class="usersList table">
        <thead>
            <tr>
                <th scope="col">Имя пользователя</th>
                <th scope="col">Email</td>
                <th scope="col">Роли</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="user in usersData" scope="row">
                <td>{{user.UserName}}</td>
                <td>{{user.Email}}</td>
                <td>
                    <ul>
                        <li v-for="role in user.Roles">
                            <span>{{role.Name}}<a href="#" v-on:click="removeUserRole(role.Id)">Удалить</a></span>
                        </li>
                    </ul>
                    <a href="#" v-on:click="addUserRole()">Добавить</a>
                </td>
            </tr>
        </tbody>
    </table>




</div>

@section scripts{
    @Scripts.Render("~/bundles/userslist");
}
