@model periodontist.Models.UsersListViewModel
@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="usersList">
    <h2>{{title}}</h2>
    <ul class="usersList">
        <li class="usersList-item" v-for="user in usersData">
            blabla
            {{user.Email}}
        </li>
    </ul>
</div>

@section scripts{
    @Scripts.Render("~/bundles/userslist");
}
