@model IEnumerable<periodontist.Models.UserQuestion>
@{
    ViewBag.Title = "Пародонтолог";
}

<div class="row">
    <div class="w-100 m-4">
    </div>
    <div class="col-4">
        <h2>Что такое пародонтология</h2>
        <p>
            Пародонтология это...
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Читать дальше &raquo;</a></p>
    </div>
    <div class="col-4">
        <h2>Немного обо мне</h2>
        <p>Я закончила Белорусский государственный медицинский университет. Вот уже много лет я занимаюсь лечением и профилактикой заболеваний полости рта у детей и взрослых.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Читать дальше&raquo;</a></p>
    </div>
    <div class="col-4">
        <h2>Часто задаваемые вопросы</h2>
        <p>Здесь может быть уже готовый ответ на ваш вопрос.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Посмотреть &raquo;</a></p>
    </div>
</div>

<div class="row listBlogPost">
    <div class="w-100 horisontalLine mb-5"></div>
    <div class="col-12">
        <h2 class="listBlogPost-header">Вам это может быть интересно</h2>
        <div class="blogPostItem">
            <h4 class="blogPostItem-header">Заголовок статьи</h4>
            <p class="blogPostItem-content">Краткое содержание</p>
        </div>
        <div class="blogPostItem">
            <h4 class="blogPostItem-header">Заголовок статьи</h4>
            <p class="blogPostItem-content">Краткое содержание</p>
        </div>
        <div class="blogPostItem">
            <h4 class="blogPostItem-header">Заголовок статьи</h4>
            <p class="blogPostItem-content">Краткое содержание</p>
        </div>
    </div>

</div>
<div class="row">
    <div class="w-100 horisontalLine mb-5"></div>
    <div class="col-12">
        <div class="jumbotron">
            <h1>Здесь вы можете получить он-лайн консультацию</h1>
            <p class="lead">Если вас беспокоит сотояние вашей полости рта или вашего ребенка, но вы не знаете что делать.</p>
            <p>Не волнуйтесь, возможно не всё так страшно, как может показаться на первый взгляд.</p>
            <p>Вы можете направить вопрос мне, сопроводив его снимком. И я постараюсь дать вам рекомендации по дальнейшим действиям.</p>
            <p><a href="#question" class="btn btn-primary btn-lg">Задать вопрос &raquo;</a></p>
        </div>
    </div>
</div>
<div id="questionForm" class="row">
    <a id="question" href="#"></a>
    <div class="col-12">
        <h2>Задайте вопрос доктору</h2>
    </div>
    <div class="col-12 questionForm d-flex flex-column">
        <input type="text" value="" class="form-control mb-2 questionForm__name" data-toggle="tooltip" title="Введите своё имя" placeholder="Имя..." />
        <input type="email" value="" class="form-control mb-2 questionForm__email" data-toggle="tooltip" title="Укажите свой email" placeholder="Email..." />
        <input type="text" value="" class="form-control mb-2 questionForm__theme" data-toggle="tooltip" title="Тема вопроса" placeholder="Тема..." />
<textarea cols="20" rows="5" class="form-control mb-2 questionForm__text">
</textarea>
        <div class="uploadFiles">
            <input id="uploadFiles" type="file" name="upload" class="inputFileUpload" multiple /><br>
            <button type="button" class="btn btn-primary btnSendQuestion">Задать вопрос</button>
        </div>
    </div>
</div>
