@model IEnumerable<periodontist.Models.UserQuestion>
@{
    ViewBag.Title = "Пародонтолог";
}

<div class="jumbotron">
    <h1>Он-лайн консультация</h1>
    <p class="lead">Он-лайн консультация по проблеммам связанным с заболеванием десен и полости рта</p>
    <p><a href="#question" class="btn btn-primary btn-lg">Задать вопрос &raquo;</a></p>
</div>

<div class="row">
    <div class="col-4">
        <h2>Что такое пародонтология</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-4">
        <h2>Немного обо мне</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-4">
        <h2>Часто задаваемые вопросы</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div id="questionForm" class="row">
  <a id="question" href="#"></a>
  <div class="col-12">
    <h2>Задайте вопрос доктору</h2>
  </div>
  <div class="col-12 questionForm d-flex flex-column">
    <input type="text" value="" class="form-control mb-2 questionForm__name" data-toggle="tooltip" title="Введите своё имя" placeholder="Имя..." />
    <input type="email" value="" class="form-control mb-2 questionForm__email" data-toggle="tooltip" title="Укажите свой email" placeholder="Email..." />
    <input type="text" value="" class="form-control mb-2 questionForm__theme" data-toggle="tooltip" title="Тема вопроса" placeholder="Тема..." />
<textarea cols="20" rows="5" class="form-control mb-2 questionForm__text">
</textarea>
    <input id="uploadFiles" type="file" name="upload" class="inputFileUpload" /><br>
    <button type="button" class="btn btn-primary btnSendQuestion">Задать вопрос</button>
  </div>
</div>