
@{
    ViewBag.Title = "AddArticle";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

    <div id="addarticle">
        <input type="text" class="titelArticle" v-model="titleArticle"/>
        <editor api-key="k171ojstgqu6i3rygwvgbihduke3uv2h61rf9a4q2mrkpgek" :init="{plugins: 'wordcount'}" v-model="content"></editor>
        <button class="saveArticle" v-on:click="saveArticle">Сохранить текст</button>
    </div>

@section scripts{
    @*<script src="~/Scripts/tinymce/tinymce.min.js"></script>*@
    <script src="~/node_modules/tinymce/tinymce.min.js"></script>
    @*<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=k171ojstgqu6i3rygwvgbihduke3uv2h61rf9a4q2mrkpgek"></script>*@
<script src="~/node_modules/tinymce/tinymce-vue/lib/browser/tinymce-vue.min.js"></script>
<script src="~/Scripts/Admin/content/EditArticle.js"></script>
}