
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.ActionLink("Добавить статью","AddArticle","Content")

<div id="listArticles" class="listArticles">

    <div class="blogPostItem" v-for="article in articles">
        <h4 class="blogPostItem-header">{{article.Title}}</h4>
        <span class="blogPostItem-content" v-html="trimText(article.Text)"></span>
        <button class="updateArticl_btn" v-on:click="updateArticl">Редактировать</button><button class="removeArticl_btn" v-on:click="removeArticl">Удалить</button>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Admin/content/content.js"></script>
}