@model periodontist.Areas.Admin.Models.ArticleViewModel
@{
    ViewBag.Title = "UpdateArticle";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    
}

<div id="addarticle" v-bind:data-articleId="id">
    <input type="text" class="titelArticle" v-model="titleArticle"/>
    <editor api-key="k171ojstgqu6i3rygwvgbihduke3uv2h61rf9a4q2mrkpgek" :init="{plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'save table contextmenu directionality emoticons template paste textcolor'
            ]}" v-model="content"></editor>
    <button class="saveArticle" v-on:click="updateArticle">Сохранить текст</button>
</div> 

<div id="articleContent">@Html.Raw(Model.Text.Trim())</div>

@section scripts{
    @*<script src="~/Scripts/tinymce/tinymce.min.js"></script>*@
    <script src="~/node_modules/tinymce/tinymce.min.js"></script>
    @*<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=k171ojstgqu6i3rygwvgbihduke3uv2h61rf9a4q2mrkpgek"></script>*@
    <script src="~/node_modules/tinymce/tinymce-vue/lib/browser/tinymce-vue.min.js"></script>
    <script src="~/Scripts/Admin/content/EditArticle.js"></script>
    
    <script type="text/javascript">
        addarticle.id="@Model.ID",
        addarticle.titleArticle = "@Model.Title";
        addarticle.content = $("#articleContent").html();
    </script>
}